@page
@model SalonPlannerWebApp.Pages.AppointmentsClients.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
